<div id="column">
<% @cats.each do |cat| %>
  <%= link_to cat, remote: true, class: 'cat' do %>
    <%= image_tag cat.image.url %>
    <%= cat.name.titleize %>
  <% end %>
<% end %>
</div>
<div id="main">
</div>
